<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
	<dict>
		<key>Type</key>
		<string>PSGroupSpecifier</string>
		<key>Title</key>
		<string>OpenPrintTag Optional Fields</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>PSToggleSwitchSpecifier</string>
		<key>Title</key>
		<string>Spool ID</string>
		<key>Key</key>
		<string>visibility_nfc_opt_spool_id</string>
		<key>DefaultValue</key>
		<false/>
	</dict>
	</array>
</dict>
</plist>
